<html>
<head>
    <style>
        table {
            border-spacing: 0;
            border-collapse: collapse;
        }

        table td, table th {
            border: 1px solid #ccc;
            padding: 5px;
        }

        table th {
            background: #eee;
        }
    </style>
</head>
<body>
<h1>Список дел на сегодня</h1>
<div style="float: left">
    <form method="POST">
        <input type="text" name="description" placeholder="Описание задачи" value="{{ editValue }}">
        <input type="submit" name="save" value="Добавить">
    </form>
</div>
<div style="float: left; margin-left: 20px;">
    <form method="POST" action="">
        <label for="sort">Сортировать по:</label>
        <select id="sort" name="sort_by">
            <option value="date_added">Дате добавления</option>
            <option value="is_done">Статусу</option>
            <option value="description">Описанию</option>
        </select>
        <input type="submit" name="sort" value="Отсортировать">
    </form>
</div>
<div style="clear: both"></div>

<table>
    <tbody>
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
        <th>Закрепить задачу за пользователем</th>
    </tr>

    {% for row in tasks %}
        <tr>
            <td>{{ row.getDescription() }}</td>
            <td>{{ row.getDateAdded() }} </td>
            <td>
                {% if row.getIsDone() %}
                    <span style="color: green;">Выполнено</span>
                {% else %}
                    <span style="color: orange;">В процессе</span>
                {% endif %}


            </td>
            <td>
                <a href="?id=<?= $row->getId() ?>&amp;action=edit">Изменить</a>
                <a href="?id=<?= $row->getId() ?>&amp;action=done">Выполнить</a>
                <a href="?id=<?= $row->getId() ?>&amp;action=delete">Удалить</a>
            </td>
            <td>{{ row.getAssignedUser().getLogin() }}</td>
            <td>{{ row.getUser().getLogin() }}</td>
            <td>
                <form method="POST">
                    <select name="assigned_user_id">
                        {% for allUser in allUsers %}
                            <option value="{{ allUser.getId() }}">{{ allUser.getLogin() }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="task_id" value="{{ row.getId() }}">
                    <input type="submit" name="assign" value="Переложить ответственность"></form>


            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>

<p><strong>Также, посмотрите, что от Вас требуют другие люди:</strong></p>

<table>
    <tbody>
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
    </tr>

    {% for row in myTasks %}
        <tr>
            <td>{{ row.getDescription() }}</td>
            <td>{{ row.getDateAdded() }}</td>
            <td>
                {% if row.getIsDone() %}
                    <span style="color: green;">Выполнено</span>
                {% else %}
                    <span style="color: orange;">В процессе</span>
                {% endif %}
            </td>
            <td>
                <a href="?id={{ row.getId() }}&amp;action=edit">Изменить</a>
                <a href="?id={{ row.getId() }}&amp;action=done">Выполнить</a>
                <a href="?id={{ row.getId() }}&amp;action=delete">Удалить</a>
            </td>
            <td>{{ row.getAssignedUserName() }}</td>
            <td>{{ row.getUserName() }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p><a href="/lesson13/logout.php">Выход</a></p>
</body>
</html>
