<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
{% if error %}
<h3 style="color: red">Wrong username/password</h3>
{% endif %}
<form method="post">
    <table>
        <tr>
            <td>
                <label for="login">Login: </label>
            </td>
            <td>
                <input id="login" name="login" type="text" value=""/>
            </td>
        </tr>
        <tr>
            <td>

                <label for="password">Password: </label>
            </td>
            <td>
                <input id="password" name="password" type="password" value=""/>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
                <input name="action" type="submit" value="login">
                <input name="action" type="submit" value="register">
            </td>
        </tr>
    </table>
</form>
</body>
</html>